// В этом файле должны быть стили для БЭМ-блока services-section, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.services-section {

  $block-name:                &; // #{$block-name}__element

  padding-top: 4.2vw;
  padding-bottom: 5.6vw;

  &__inner {
    @include container;
  }

  &__title {
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    line-height: 1.2em;
    margin-bottom: 4vw;

    @media (max-width: $screen-sm) {
      margin-bottom: 40px;
    }
  }
}
