// В этом файле должны быть стили для БЭМ-блока style-title, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.style-title {

  $block-name:                &; // #{$block-name}__element

  position: relative;

  &:before {
    content: "";
    display: block;
    width: 30px;
    height: 50px;
    background: #e93749;
    transform: skew(0deg, -14deg);
    position: absolute;
    left: -12px;
    top: 0;

    @media (max-width: ($screen-sm - 1)) {
      width: 18px;
      height: 32px;
      left: -8px;
    }
  }

  span {
    position: relative;
    z-index: 1;
  }

}
