// В этом файле должны быть стили для БЭМ-блока footer-contacts, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.footer-contacts {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &__inner {
    text-align: center;
  }

  &__item {
    margin-bottom: 25px;
  }

  &__logo {
    margin-bottom: 10px;
  }

  &__phone {

    a {
      font-size: 36px;
      font-weight: 700;
      line-height: 1;
      color: #000;
      text-decoration: none;

      @media (max-width: ($screen-sm - 1)) {
        font-size: 30px;
      }
    }
  }

  &__text {

    p,
    a {
      font-size: 16px;
      line-height: 30px;
      font-weight: 300;
      color: #120919;
      text-decoration: none;
    }
  }

  &__action {

    display: flex;
    flex-direction: column;

    .btn {
      margin-bottom: 15px;
    }
  }

}
