// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element

  background: #efeef2;

  &--main {
    background: #fff;
  }

  &__inner {

  }

  &__flex {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    @include col();
    @include col(xl, 6, $gutter: 0);
    position: relative;
    min-height: 600px;
  }
}
