// В этом файле должны быть стили для БЭМ-блока team-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.team-card {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 60px 0;

  &__image {
    margin-right: 2.5%;
  }

  &__header {
    margin-right: 8%;
    margin-bottom: 30px;

    h3,p {
      margin: 0;
    }
  }

  &__contacts {
    margin-right: 7%;
    margin-bottom: 30px;

    @media (max-width: $screen-lg) {
      width: 100%;
      margin-bottom: 15px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }

  &__social {
    margin-bottom: 30px;

    @media (max-width: $screen-md) {
      width: 100%;
      margin-bottom: 15px;
    }
  }

}
