// В этом файле должны быть стили для БЭМ-блока intro, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.intro {

  $block-name:                &; // #{$block-name}__element

  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: ($menu-desktop-width - 1)) {
    padding-top: 80px;
  }

  &__inner {
    @include container;
    min-height: 100vh;
    height: 100%;
    position: relative;

    @media (min-width: $screen-xxl) {
      padding-left: 30px;
      padding-right: 30px;
    }

    @media (max-width: ($menu-desktop-width - 1)) {
      min-height: inherit;
      height: auto;
    }
  }

  &__flex {
    display: flex;
    align-items: center;
    min-height: 100vh;
    height: 100%;

    @media (max-width: ($menu-desktop-width - 1)) {
      min-height: inherit;
      height: auto;
      padding: 60px 0 120px 0;
    }
  }

  &__box {
    max-width: 760px;
    box-sizing: content-box;

    @media (min-width: $screen-xxl) {
      padding-left: 15.3%;
    }

    @media (min-width: $menu-desktop-width) {
      margin-top: 40px;
      // padding-top: 75px;
    }
  }

  &__box-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 20px;

    @media (min-width: $screen-sm) {
      font-size: 48px;
      line-height: 1.2;
    }
  }

  &__box-text {
    font-size: 16px;
    line-height: 30px;
    color: #6b90ce;
    font-weight: 400;
    display: none;

    @media (min-width: $screen-sm) {
      display: inherit;
    }
  }

  &__box-action {
    margin-top: 0;

    @media (min-width: $screen-lg) {
      margin-top: 65px;
    }
    @media (min-width: $screen-sm) {
      margin-top: 40px;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 15px;

    @media (min-width: $screen-xxl) {
      padding: 65px 30px;
    }

    @media (max-width: ($menu-desktop-width - 1)) {
      display: none;
    }
  }

  .social-box {
    @media (max-width: ($screen-md - 1)) {
      display: none;
    }
  }

  &__footer-line {
    height: 1px;
    background: #6b90ce;
    width: 100%;
    flex-grow: 1;
    opacity: 0.2;
    margin: 0 20px;
  }

  &__contacts {
    flex-shrink: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: 300;
    text-align: center;

    @media (max-width: ($screen-sm - 1)) {
      margin-top: 8px;
    }

    li {
      display: inline-block;
      margin: 0 15px;

      &:last-child {
        margin-right: 0;

        @media (max-width: ($screen-sm - 1)) {
          display: none;
        }
      }
    }

    a {
      color: #6b90ce;
      text-decoration: none;

      &.decorated {
        text-decoration: underline;
      }

      &:hover,
      &:focus {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
