// В этом файле должны быть стили для БЭМ-блока project-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.project-card {

  $block-name:                &; // #{$block-name}__element

  text-decoration: none;

  &__image {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    img {
      object-fit: cover;
      display: block;
      width: 100%;
      height: 100%;
      transform: scale(1);
      transition: all $transition-time;
    }
  }

  &__body {
  }

  &__title {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: #000;

    @media (min-width: $screen-md) {
      font-size: 22;
    }

    @media (min-width: $screen-xxl) {
      font-size: 24px;
    }
  }

  &__label {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    background: #ebebeb;
    color: #000;
    padding: 0.5em 1em;
    vertical-align: middle;
    border-radius: 4px;
    white-space: nowrap;
  }

  &:hover {
    #{$block-name}__image {
      img {
        transform: scale(1.1);
      }
    }
    #{$block-name}__title {
      color: #ea4252;
    }
    #{$block-name}__label {
      background: #ea4252;
      color: #fff;
    }
  }

}
