// В этом файле должны быть стили для БЭМ-блока fields-group, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.fields-group {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -15px;
  margin-right: -15px;


  .field-text {
    @include col();
    @include col(xl, 4);
  }

  .field-checkbox {

    &__name {
      white-space: nowrap;
    }
  }

  &__part {
    @include col();
    @include col(xl, 8);
    display: flex;
    flex-wrap: wrap;

    .field-file {
      margin-left: 30px;

      @media (max-width: ($screen-sm - 1)) {
        margin-left: 0;
      }
    }
  }

  .field-actions {
    @include col();
    @include col(xl, 4);
    margin-bottom: 10px;

    .btn {
      min-width: 100%;
    }
  }

  &.right {
    justify-content: flex-end;
  }
}
